<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <title>Hello, world!</title>
  </head>
  <body class="bg-right">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
             
                
                  <div class="row">
                    <!---left Side-->
                    <div class="col-lg-3 col-md-4 d-md-block">
                        <div class="card bg-common card-left">
                            <div class="card-body">
                                <nav class="nav d-md-block d-none">
                                    <a data-toggle='tab' class="nav-link active" aria-current="page" href="#profile"><i class="fa-solid fa-user mr-1"></i> Account Requests</a>
                                    <a data-toggle='tab' class="nav-link"  href="#account"><i class="fa-solid fa-user-cog mr-1"></i> Add New Admin</a>
                                    <a data-toggle='tab' class="nav-link" href="#security"><i class="fa-solid fa-user-shield mr-1"></i> Delete User Account</a>
                                    <a data-toggle='tab' class="nav-link" href="#notifications"><i class="fa-solid fa-bell mr-1"></i> Activate/ Deactivate User Account</a>
                                    <a data-toggle='tab' class="nav-link" href="#billing"><i class="fa-solid fa-money-check-dollar mr-1"></i> User Queries</a>
                                    <a data-toggle='tab' class="nav-link" href="#billing"><i class="fa-solid fa-money-check-dollar mr-1"></i> Watch Chats</a>


                                  </nav>

                            </div>
                        </div>
                    </div>
                                        <!---right Side-->
                    <div class="col-lg-8 col-md-9">
                        <div class="card">
                            <div class="card-header border-bottom mb-3 d-md-none">
                                <ul class="nav nav-tabs card-header-tabs nav-fill">
                                    <li class="nav-item">
                                        <a data-toggle='tab' class="nav-link active" aria-current="page" href="#profile"><i class="fa-solid fa-user mr-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle='tab' class="nav-link"  href="#account"><i class="fa-solid fa-user-cog mr-1"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle='tab' class="nav-link" href="#security"><i class="fa-solid fa-user-shield mr-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle='tab' class="nav-link" href="#notifications"><i class="fa-solid fa-bell mr-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle='tab' class="nav-link" href="#billing"><i class="fa-solid fa-money-check-dollar mr-1"></i></a>
                                    </li>
                                  </ul>
                            </div>

                            <!---User profile starts-->
                            <div class="card-body tab-content border-0">

                                <!---//Actual Profile Data-->
                                <div class="tab-pane active" id="profile">
                                    <h6>Your Personal Information</h6>
                                    <hr>
                                    <form >
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mujeeb Ullah">
                                            <small class="form-text text-muted">*Please Enter your Fullname</small>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label"> Your Bio</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"placeholder="I am full stack websiet developer" ></textarea>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Url</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Youtube.com">
                                          </div><div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label"> Location</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lahore, Pakistan ">
                                          </div>
                                          <div class="form-group form-text text-muted small">*All field on this page are optional you can del them later</div><br>
                                          <button class="btn btn-outline-info"type="button">Update Profile</button>
                                          <button class="btn btn-outline-info"type="button">Reset Profile</button>

                                    </form>

                                </div>
                                <div class="tab-pane " id="account">
                                    <h2>This is account</h2>

                                </div>      
                                     <div class="tab-pane " id="security">
                                    <h1>This is security</h1>

                                </div> 
                             
                    
                            </div>


                        </div>
                    </div>                   



                  </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>