<%- include('./includes/head.ejs') %>

<link rel="stylesheet" type="text/css" href="assets/vendor/apexcharts/css/apexcharts.css">

</head>

<body>

<!-- Header START -->
<%- include('./includes/navigation.ejs') %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <img src="assets/images/element/error404-01.svg" class="h-200px h-md-400px mb-4" alt="">
                    <!-- Title -->
                    <h1 class="display-1 text-danger mb-0">404</h1>
                    <!-- Subtitle -->
                    <h2>Oh no, something went wrong!</h2>
                    <!-- info -->
                    <p class="mb-4">Either something went wrong or this page doesn't exist anymore.</p>
                    <!-- Button -->
                    <a href="/" class="btn btn-primary mb-0">Take me to Homepage</a>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <%- include('./includes/footer') -%>


    <!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>
